<ion-view view-title="Graph">  <ion-content>
    
    <!--  draw chart in app-->
      <div id="chart"></div> 
    
   <script type="text/javascript">
      var payment = getValue('payment', 'Payment');
    var interest = getValue('interest', 'Interest');
    var balance = getValue('balance', 'Balance');


    function getValue(storageName, name){
      var data=[name];
      var tempData=localStorage.getItem(storageName);
      tempData=tempData.split(',');
      var numberOfMounth=tempData.length;
      for (var m=1; m<=numberOfMounth; m+=12){
        data.push(tempData[m])
      }
      data.pop();
      data.push(tempData[numberOfMounth-1]);
      return data
    }

    chart = c3.generate({
      bindto: '#chart',
      data: {
        columns: [
          payment,
          interest,
          balance
        ]
      },
      axis: {
        x: {
          min: 0
        },
        y: {
          min: 0
        }
      }
    });
    
    </script>
  </ion-content>
</ion-view>



